.ml-accordion-container {
	width: 100%;
	padding: 30px;
}
.ml-accordion-container h3 {
	display:inline-block;
	width:100%;
	text-align: left;
	padding: 25px 15px 25px 15px;
	margin: auto 0;
	cursor: pointer;
	color: #0061A0;
}
.ml-accordion-header {
	min-height: 67px;
	font-weight: 700;
	font-size: 14px;
	text-decoration: underline;
	border-bottom: 1px solid #999999;
	background:url(../img/tables/expand.svg) no-repeat right 5px center;
	background-size: 28px;

}
.ml-accordion-header:before{

	visibility:hidden;
	content:"Mostrar";


	display:inline-block;
	float:right;

	margin:auto 15px;
	font-size: 10px;
	font-weight:normal;
	color: #333333;
	text-decoration: none;
	text-transform:uppercase;
	letter-spacing:0.5px;
	line-height:16px;


}

.ml-accordion-header:hover {
	background: url(../img/tables/expand-hover.svg) no-repeat right 5px center;
	background-size: 28px;
}
.ml-accordion-header:hover:before {
	visibility:visible;
}
.expanded {
	text-decoration: none;
	background: url(../img/tables/collapse.svg) no-repeat right 5px center;
	background-size: 28px;
	border-bottom: 0px solid #999999;
}
.expanded:hover {
	background: url(../img/tables/collapse-hover.svg) no-repeat right 5px center;
	background-size: 28px;
}
.expanded:hover:before
{
	visibility:visible;
    content:"Ocultar";

}
.ml-accordion-container h3:first-child {
	border-top: 1px solid #999999;
}
.ml-accordion-content {
	background: #ffffff;
	border-bottom: 1px solid #999999;
	padding: 25px 15px 25px 15px;
}
