/* normal tooltip trigger */
.ml-tooltip-trigger.fa  {
	padding:0 5px;
	color:#007ABC;
	font-size:16px;
}

.ml-tooltip-trigger.fa:after{
	content:'\f29c';
}

.ml-tooltip-trigger.fa:hover:after{
	content:'\f059';
}

/* alert tooltip trigger */
.alert.fa{
	color:red;
}
.alert.fa:after{
	content:'\f06a';
}
.alert.fa:hover:after{
	content:'\f06a';
}

/* tooltip style */

.ml-ui-tooltip {
    background: #ffffff !important;
	border: 1px solid #007ABC !important ;
}

.ml-ui-tooltip-alert {
    background: #FDE8E8 !important;
	border: 1px solid #DB1818 !important ;
}

/* tooltip arrow style */

.ml-tooltip-arrow, .ml-tooltip-arrow-alert{
	width: 50px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}
.ml-tooltip-arrow.top, .ml-tooltip-arrow-alert.top {
	
	top: -16px;
	bottom: auto;
}
.ml-tooltip-arrow.left, .ml-tooltip-arrow-alert.left {
	
	left: 40%;
}

.ml-tooltip-arrow.right, .ml-tooltip-arrow-alert.right {
	right: auto;
}


.ml-tooltip-arrow:after, .ml-tooltip-arrow-alert:after{
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ml-tooltip-arrow.top:after, .ml-tooltip-arrow-alert:after {
	bottom: -20px;
	top: auto;
}

.ml-tooltip-arrow:after{
	background: #ffffff;
	border: 1px solid #007ABC;
}

.ml-tooltip-arrow-alert:after{
	background: #FDE8E8;
	border: 1px solid #DB1818;
}
