
.ml-step-container{
	width:100%;
	padding:30px;
}

hr.ml-step-hr{
	border-top: 1px solid #A7A8AA;
	border-bottom:0px;
	margin:10px 20px 0px 20px ;

}

.ml-step-header.expanded > hr.ml-step-hr{
	display:none;
}

.ml-step-header{
	height:56px;
	padding: 20px 15px 20px 15px ;
	margin:0;
	background:url(../img/step-border-BG.png) repeat-y 0 0;
	/*border-left:8px solid #D9D9D6;*/
}

.ml-step-header-elements{

	display:flex;
}

.ml-step-header-elements > h3{

	padding: 0px 5px 0px 5px ;
	text-align: left;
	color:#333333;
	font-weight:normal;
	font-size:16px;
	text-decoration:none;
	margin-top:-2px;


}
/* ====== expanded ======*/

.expanded{
   background:url(../img/step-border-BG-active.png) repeat-y 0 0;
   /*border-left:8px solid #007ABC;*/
}
.ml-step-header.expanded > .ml-step-header-elements > h3{
	color:#007ABC;
	text-decoration:none;
	font-weight:bold;

}
/* ====== completed ======*/

.completed{
	background:url(../img/step-border-BG-complete.png) repeat-y 0 0 !important;;
	/*border-left:8px solid #A4CE4E !important;*/
}
.ml-step-header.completed > .ml-step-header-elements > h3{
	cursor:pointer !important;
	color:#007ABC;
	text-decoration:underline !important;
	font-weight:normal !important;
}


.ml-step-content {
	/*border-left:8px solid #007ABC;*/
	background:#ffffff url(../img/step-border-BG-active.png) repeat-y 0 0;
	padding: 0px 15px 0px 15px;
}
.ml-step-content-div{
	padding: 0px 20px 25px 20px;
}

.ml-step-container .ml-step-content:last-child{
	background:none;
}

.ml-step-container .ml-step-header:first-child {

  background:url(../img/step-border-BG.png) no-repeat 0 15px ;
  background-size: 8px 100% !important;
}

.ml-step-container .ml-step-header.completed:first-child {
  background:url(../img/step-border-BG-complete.png) no-repeat 0 15px !important;
  background-size: 8px 100% !important;
}

.ml-step-container .ml-step-header.expanded:first-child {
  background:url(../img/step-border-BG-active.png) no-repeat 0 15px ;
  background-size: 8px 100% !important;
}


/*.ml-step-container .ml-step-header:last-child {
  background:url(../img/step-border-BG.png) no-repeat 0 0 !important;
  background-size: 8px 50% !important;

}*/


.last-child{
 background:url(../img/step-border-BG.png) no-repeat 0 0 !important;
 background-size: 8px 50% !important;

}

.last-child.completed{
 background:url(../img/step-border-BG-complete.png) no-repeat 0 0 !important;
 background-size: 8px 50% !important;

}

.last-child.expanded{
 background:url(../img/step-border-BG-active.png) no-repeat 0 0 !important ;
 background-size: 8px 50% !important;

}


/* ======== Step Style ====== */

.ml-step-numbers {

	margin-left:-26px;
	margin-right:10px;
	margin-top:-8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding:5px;
    background: #d9d9d6;
    font-size: 18px;
	font-weight:bold;
    color: #5E5E5E;
    text-align: center;
	display:inline-block;

}

.ml-current-step {
	background: #007ABC;
	color: #ffffff;
}

.ml-completed-step {
	padding:2px;
	border:4px solid #A4CE4E;
	background:#FFFFFF ;
	color: #333333;
}

.ml-completed-step::after {

	content:"\f00c";
}

.ml-sub-step-container {
	display:flex;
	width:0px;
	height:auto;
	align-items:center;
	flex-direction: column;
	justify-content:space-between;
	margin-top:-10px;
}
.ml-sub-step {

	margin-left:-13px;
	margin-right:10px;
	margin-top:-8px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background: #d9d9d6;
	display:inline-flex;
	border: 2px solid #fff;


}
