.paginator{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.paginator /deep/ .ngx-pagination .current {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
	display:inline-block;
    cursor:pointer;
    background: #0061A0;
	color: #fff;
}

.paginator /deep/ .ngx-pagination a, .ngx-pagination button {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
	display:inline-block;
    cursor:pointer;
    background: #D9D9D6;
	color: #333333;
}

.paginator /deep/ .ngx-pagination a:focus, .ngx-pagination button:focus {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
	display:inline-block;
    cursor:pointer;
    background: #D9D9D6;
	color: #333333;
}

.paginator /deep/ .ngx-pagination a:hover, .ngx-pagination button:hover {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
	display:inline-block;
    cursor:pointer;
    background: #0061A0;
	color: #fff;
}