<footer class="mlpl-footer">
  <div class="mlpl-footer__top-bar">
    <div class="mlpl-footer__top-bar__big"></div>
    <div class="mlpl-footer__top-bar__small"></div>
    <div class="mlpl-footer__top-bar__medium"></div>
  </div>
  <div class="mlpl-footer__wrapper">
    <div class="mlpl-footer__content">
      <p class="mlpl-color-gray mlpl-type-base"></p>
      <div class="mlpl-footer-linkgroup">
        <span class="mlpl-footer-link">
          <a>Privacy Policy</a>
        </span>
        <span class="mlpl-footer-link">
          <a>Legal Notices</a>
        </span>
      </div>
      © 2017 Metropolitan Life Insurance Company, New York, NY 10166 - All
      Rights Reserved
      <p></p>
    </div>
  </div>
</footer>
