<div class="header" appTrackScroll (scrollOffset)="onScroll($event)"
     [ngStyle]="{'height':resizeHeaderHeight ? '50px' : '70px' }">
  <div class="header-left-container"
       [ngClass]="resizeHeaderHeight ? 'header-left-container-minimized' : 'header-left-container' ">
    <a href="" class="ml-icon-link-menu"
       [ngStyle]="{'padding':resizeHeaderHeight ? '3px' : '9px' }">
      <img id="iconHome" [src]='"../../../assets/icons/" + iconHome + ".svg"'
           (mouseover)="onMouseMove($event)"
           (mouseout)="onMouseMove($event)"/>
      <span id="labelHome" (mouseover)="onMouseMove($event)"
            (mouseout)="onMouseMove($event)" (click)="home()">
        INICIO</span>
    </a>
  </div>

  <img class="img-container" src="../../../assets/img/met-life-logo.png"
       [ngClass]="resizeHeaderHeight ? 'img-container-minimized' : 'img-container' ">

  <div class="header-right-container"
       [ngClass]="resizeHeaderHeight ? 'header-right-container-minimized' : 'header-right-container' ">
    <a href="" class="ml-icon-link-menu" (click)="logout()"
       [ngStyle]="{'padding':resizeHeaderHeight ? '3px' : '9px' }">
      <span id="labelSecurity" (mouseover)="onMouseMove($event)"
            (mouseout)="onMouseMove($event)" (click)="logout()">
        CERRAR SESION</span>
      <img id="iconSecurity" [src]='"../../../assets/icons/" + iconSecurity + ".svg"'
           (mouseover)="onMouseMove($event)"
           (mouseout)="onMouseMove($event)"/>
    </a>
  </div>
</div>
