<div class="row global-header" appTrackScroll (scrollOffset)="resizeHeader($event)"
     [ngClass]="resizeHeaderHeight ? 'global-header-min' : 'global-header'">

  <div class="global-header__left"></div>
  <div class="global-header__middle duallogo">
    <h1>
      <a>
        <img src="../assets/img/met-life-logo.png" class="global-header__logo img-responsive desktop"
             [ngClass]="resizeHeaderHeight ? 'global-header__logo-min' : 'global-header__logo'">
      </a>
    </h1>
  </div>
  <div class="global-header__right pull-right"></div>
</div>
