<div class="ml-table-container">
  <div *ngIf="header" class="ml-table-title">{{header}}</div>
  <div class="even-row">
    <div class="field-name-column" *ngFor="let map of columnMaps">{{map.header}}</div>
  </div>

  <app-table-row *ngFor="let row of rows; let i = index;"
                 [row]="row.rowObject"
                 [index]="i"
                 [columnMaps]="columnMaps"
                 [fields]="fields"
                 [formGroup]="formGroup"
  ></app-table-row>

  <!--<div data-forms="floating-label" class="ml-form even-row">
    <div *ngFor="let field of fields">
      <app-field-form [fieldObj]="field" [form]="formGroup"></app-field-form>
    </div>

    <button (click)="addRow()">Agregar</button>
  </div>-->

</div>
