<div id="content" #content>
    <app-header></app-header>
    <app-menu></app-menu>
    <div style="background-color: white">
        <div style="text-align: center">
            <h1 class="title">BUSQUEDA</h1>
        </div>
        <div class="container">
            <div class="row" *ngIf="hideAlert()">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="alert alert-danger" role="alert">
                        Solo está permitida la búsqueda con un solo criterio
                      </div>
                </div>
            </div>
            <div class="row">
                <div
                    class="col-sm-12 col-md-6 col-lg-6 {{ criteria.param1!='' && (criteria.param2!='' || criteria.param3!='' || criteria.param4!='') ?'has-error':'' }}">
                    <input type="text" class="form-control" [(ngModel)]="criteria.param1" placeholder="Número FUC">
                </div>
                <div
                    class="col-sm-12 col-md-6 col-lg-6 {{ criteria.param2!='' && (criteria.param1!='' || criteria.param3!='' || criteria.param4!='') ?'has-error':'' }}">
                    <input type="text" class="form-control" [(ngModel)]="criteria.param2" placeholder="Número de solicitud">
                </div>
            </div>
            <br />
            <div class="row">
                <div
                    class="col-sm-12 col-md-6 col-lg-6 {{ criteria.param3!='' && (criteria.param1!='' || criteria.param2!='' || criteria.param4!='') ?'has-error':'' }}">
                    <input type="text" class="form-control" [(ngModel)]="criteria.param3" placeholder="Póliza">
                </div>
                <div
                    class="col-sm-12 col-md-6 col-lg-6 {{ criteria.param4!='' && (criteria.param1!='' || criteria.param2!='' || criteria.param3!='') ?'has-error':'' }}">
                    <input type="text" class="form-control" [(ngModel)]="criteria.param4" placeholder="RFC">
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                    <button class="btn btn-primary" (click)="search()" [disabled]="disable()">BUSCAR</button>
                </div>
            </div>
            <br/>
            <div class="row" *ngIf="noRecords">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="ml-msg ml-msg-msg" >
                        <p>
                            <span class="fa fa-info-circle low-priority" ></span>
                            <strong>No existen coincidencias con los parámetros seleccionados.</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
