<!-- Progress Indicator Step -->
<div
  *ngIf="stepObj.show">
  <div [ngClass]="[
                  (accordionExpanded && isFirst) ? 'ml-step-header-expanded-first-child':'',
                  (!accordionExpanded && isFirst) ? 'ml-step-header-first-child':'',
                  (!accordionExpanded) ? 'ml-step-header': '',
                  accordionExpanded ? 'ml-step-header-expanded': '',
                  (accordionExpanded && isLast) ? 'ml-step-header-expanded-last-child':'',
                  (!accordionExpanded && isLast) ? 'ml-step-header-last-child':'',
                  (completed && isFirst) ? 'ml-step-header-completed-first-child':'',
                  (completed && isLast) ? 'ml-step-header-completed-last-child':'',
                  completed ? 'ml-step-header-completed':'',
                  (completed && !accordionExpanded) ? 'ml-step-header-completed':''
                  ]">
    <div class="ml-step-header-elements">
      <span *ngIf="!completed" [ngClass]="accordionExpanded ? 'ml-step-numbers ml-current-step' : 'ml-step-numbers' ">{{index + 1}}</span>
      <span *ngIf="completed" class= "ml-step-numbers ml-completed-step fa"></span>
      <h3 [ngClass]="accordionExpanded ? 'ml-step-header-title-expanded': 'ml-step-header-title'"
          (click)="toggleAccordion()">{{stepObj.title}}</h3>
    </div>

    <hr *ngIf="!accordionExpanded" class="ml-step-hr" [ngStyle]="{'display':  isLast ? 'none': ''}">
  </div>
  <div class="ml-step-content" id="step1"
       [ngStyle]="{'border-left': isLast ? '8px solid #ffffff': ''}"
       [ngClass]="[
                  !accordionExpanded ? 'hide': '',
                  (completed && !isLast) ? 'completed': ''
                  ]">
    <div class="ml-step-content-div">
      <app-content-form  *ngFor="let content of stepObj.contents" [form]="form" [contentObj]="content"></app-content-form>
      <!--<div *ngIf="stepObj.content.operations" class="operation">
        <app-operation-form *ngFor="let operation of stepObj.content.operations" (click)="completeStep()" [operationObj]="operation"></app-operation-form>
      </div>-->
      <hr class="ml-step-hr" [ngStyle]="{'display':  isLast ? 'none': ''}">
    </div>
  </div>
  <!-- ends Progress Indicator Step -->
</div>

