<!--comment for autocomplete click event work inside dialog -->
<!--<div class="overlay" (click)="onOverlayClicked($event)">-->
<div class="overlay">
  <!--comment for autocomplete click event work inside dialog -->
  <!--<div class="dialog" (click)="onDialogClicked($event)" [@myAnimation]="animation ? true: false">-->
  <div class="dialog" [@myAnimation]="animation ? true: false">
    <div style="text-align: right">
      <img class="button-close" (click)="onOverlayClicked($event)">
    </div>
    <ng-template appInsertion>

    </ng-template>
  </div>
</div>
