<div class="ml-table-container">
  <div class="ml-table-title">{{title}}</div>
  <div class="even">
    <div class="field-name-column" *ngFor="let columnName of columnsNames">{{columnName}}</div>
    <div class="field-name-column" *ngIf="beneficiaries.length === 0 || beneficiaries === null">
      <img src="../../../../assets/img/tables/plus_simbol.svg" (click)="addNewBeneficiary()">
    </div>

  </div>
  <app-beneficiary-item *ngFor="let beneficiary of beneficiaries; let i = index; last as isLast "
                        [beneficiary]="beneficiary"
                        [index]="i"
                        [isLast]="isLast">

  </app-beneficiary-item>
  <div>

  </div>
</div>

<jw-modal id="add-beneficiary-modal-1" modalType="drawer">
  <app-new-beneficiary [modalId]="'add-beneficiary-modal-1'">

  </app-new-beneficiary>
</jw-modal>
