.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20% 70% 10%;
  height: 100vh;
}

.header {
  grid-column: span 12;
  position: fixed;
}

.header-left {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #13A8FF;
  text-align: left;

}

.header-center {
  grid-column: span 4;
  background-color: #13A8FF;
  text-align: center;
  position: fixed;
}

.header-right {
  grid-column: span 4;
  background-color: #13A8FF;
  text-align: right;
  position: fixed;
}


.body {
  grid-column: span 12;
  background-color: #A4CE4E;
}

.footer {
  grid-column: span 12;
  background-color: #A7A8AA;
}
