<div>
  <!-- items being paged -->
  <div class="occupation-row" *ngFor="let foundOccupation of pagedItems; let i = index;"
       [ngStyle]="{'background-color':  this.appService.determinateEvenOrOdd(i) ? '#E5F4FB': '#FFFFFF'}">
    <div class="result-attribute">
      <a (click)="setOccupation(foundOccupation)">{{foundOccupation.occupationId}}</a>
    </div>
    <div class="result-attribute">{{foundOccupation.name}}</div>
    <div class="result-attribute">{{foundOccupation.alias}}</div>
  </div>

  <br>


  <!--MetLife UX pager-->
  <div class="my-pager">
    <!--<div class="totalResultsLabel">
      <p style="font-weight: bold">{{'Total de los resultados: ' + allItems.length}}</p>
    </div>-->

    <div *ngIf=" pager.totalPages > 7"
         class="ml-pagination-numbers pg-back"
         (click)="setPage(pager.currentPage - 1)">
      ...
    </div>

    <div style="display: inline-block" *ngFor="let page of pager.pages">
      <div class="ml-pagination-numbers"
           [ngClass]="{'ml-current-page': pager.currentPage === page}"
           (click)="setPage(page)">{{page}}</div>
    </div>

    <div *ngIf=" pager.totalPages > 7"
         class="ml-pagination-numbers pg-next"
         (click)="setPage(pager.currentPage + 1)">
      ...
    </div>

    <!--<div class="totalResultsLabel">
      <p style="font-weight: bold">{{'Se muestran: ' + pagedItems.length + ' elementos por pagina'}}</p>
    </div>-->
  </div>
</div>
