<div>
  <!-- items being paged -->
  <div>{{'items length: ' + pagedItems.length}}</div>
  <div *ngFor="let item of pagedItems">{{item.toString() + 'here'}}</div>

  <!-- pager -->
  <ul *ngIf="pager.pages && pager.pages.length">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <button (click)="setPage(1)">First</button>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <button (click)="setPage(pager.currentPage - 1)">Previous</button>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <button (click)="setPage(page)">{{page}}</button>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <button (click)="setPage(pager.currentPage + 1)">Next</button>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <button (click)="setPage(pager.totalPages)">Last</button>
    </li>
  </ul>
</div>
