<div [formGroup]="form" style="display: grid; grid-template-columns: 85% 15%;">
  <input matInput [formControlName]="fieldObj.name"
         [matDatepicker]="picker"
         [id]="fieldObj.idHtml"
         placeholder="{{fieldObj.placeholder}}"
         value=""
         (dateInput)="onDateInput('input', $event)"
         (dateChange)="onDateChange($event)"
         (blur)="onBlur()">

  <span>{{fieldObj.label}}</span>

  <mat-datepicker-toggle matSuffix [for]="picker">
    <mat-icon matDatepickerToggleIcon svgIcon="calendar-icon" style="text-align: right;"></mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</div>
