<!--Drawer Container-->
<div class="drawer-container">
  <div style="text-align: right">
    <img class="button-close" (click)="closeDialog()">
  </div>

  <div>
    <div data-forms="floating-label" class="ml-form"
         [ngClass]="content.styleClass">
      <div *ngFor="let field of content.fields">
        <app-field-form [fieldObj]="field" [form]="formGroup"></app-field-form>
      </div>
    </div>
    <!--<app-content-form [contentObj]="content" [form]="applicationService.getFormGroup()">
    </app-content-form>-->
  </div>

  <div *ngIf="content.operations" class="operation">
    <app-operation-form *ngFor="let operation of content.operations" [operationObj]="operation"
                        (click)="executeOperation(operation.delegateOperation)">

    </app-operation-form>
  </div>
</div>
