<!--Drawer Container-->
<div>
  <a href="javascript:;" (click)="closeModal()" class="close-drawer"></a>
  <div>
    <h2 class="header-xsmall align-left"> Drawer Title </h2>
    <p class="align-left">
      This is the default drawer which is useful for displaying additional information without navigating user away
      from the page or flow.
      The drawer can be closed with the 'x' icon or any link or button configured to close the drawer.
      <br><br><br><br>
    </p>
    <div class="ml-drawer-action-bar" >
      <a href="javascript:;" class="ml-link">Cancel</a>
      <a href="javascript:;" class="ml-button-primary" >Submit</a>
    </div>
  </div>
</div>
