<!--Drawer Container-->
<div class="drawer-container">
  <div style="text-align: right">
    <img class="button-close" (click)="closeModal()">
  </div>

  <div>
    <div [formGroup]="applicationService.getFormGroup()" data-forms="floating-label" class="ml-form"
         [ngClass]="content.styleClass">
      <div *ngFor="let field of content.fields">
        <app-field-form [fieldObj]="field"></app-field-form>
      </div>
    </div>
    <!--<app-content-form [contentObj]="content" [form]="applicationService.getFormGroup()">
    </app-content-form>-->
  </div>
</div>
