.drawer-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.operation{
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 421px) {
  .operation {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    text-align: center;
  }
}
