@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,body{
  font-family: 'Noto Sans', sans-serif;
  /*height: 100vh;*/
  margin: 0;
  /*display: grid;
  grid-template-columns: repeat(12, 1fr);*/
}
/* === progress indicator === */
/* -1- */

.ml-step-container{
  width:100%;
  padding: 8px;
}

.ml-step-header{
  height:60px;
  padding: 20px 15px 20px 15px ;
  margin:0;
  background:url(/assets/img/step-border-BG.png) repeat-y 0 0;
}

.ml-step-header-first-child{
  height:60px;
  padding: 20px 15px 20px 15px ;
  margin:0;
  background:url(/assets/img/step-border-BG.png) no-repeat 0 15px ;
  background-size: 8px 100% !important;
}

.ml-step-header-last-child{
  height:60px;
  padding: 20px 15px 20px 15px ;
  margin:0;
  background:url(/assets/img/step-border-BG.png) no-repeat 0 0 !important;
  background-size: 8px 50% !important;
}

.ml-step-header-elements{
  display:flex;
}

.ml-step-header-title {
  padding: 0px 5px 0px 5px ;
  text-align: left;
  color:#007ABC;
  font-weight:normal;
  font-size:16px;
  margin-top:-2px;
  text-decoration:underline;
  cursor: pointer;
}

hr.ml-step-hr{
  border-top: 1px solid #A7A8AA;
  border-bottom:0px;
  margin:10px 20px 0px 20px ;

}
/* -1- */

/* -2- */

.ml-step-header-expanded{
  height:60px;
  padding: 20px 15px 20px 15px ;
  margin:0;
  background:url(/assets/img/step-border-BG-active.png) repeat-y 0 0;
}

.ml-step-header-expanded-first-child{
  height:60px;
  padding: 20px 15px 20px 15px ;
  margin:0;
  background:url(/assets/img/step-border-BG-active.png) no-repeat 0 15px;
  background-size: 8px 100% !important;
}

.ml-step-header-expanded-last-child{
  height:60px;
  padding: 20px 15px 20px 15px ;
  margin:0;
  background:url(/assets/img/step-border-BG-active.png) no-repeat 0 0 !important ;
  background-size: 8px 50% !important;}

.ml-step-header-completed{
  height:60px;
  padding: 20px 15px 20px 15px ;
  margin:0;
  background:url(/assets/img/step-border-BG-complete.png) repeat-y 0 0;
}

.ml-step-header-completed-first-child{
  height:60px;
  padding: 20px 15px 20px 15px ;
  margin:0;
  background:url(/assets/img/step-border-BG-complete.png) no-repeat 0 15px;
  background-size: 8px 100% !important;
}

.ml-step-header-completed-last-child{
  height:60px;
  padding: 20px 15px 20px 15px ;
  margin:0;
  background:url(/assets/img/step-border-BG-complete.png) no-repeat 0 0 !important ;
  background-size: 8px 50% !important;}

.ml-step-header-title-expanded{
  padding: 0px 5px 0px 5px ;
  text-align: left;
  color:#007ABC;
  font-weight:bold;
  font-size:16px;
  margin-top:-2px;
  text-decoration:none !important;
}

/* -2- */

.ml-step-content {
  border-left:8px solid #007ABC;
  background:#ffffff url(/assets/img/step-border-BG-active.png) repeat-y 0 0;
  padding: 0px 15px 0px 15px;
}

.ml-step-content-div{
  /*padding: 5px 20px 25px 20px;*/
}

.ml-step-container .ml-step-content:last-child{
  background:none;
}

.completed{
  /*background:url(/assets/img/step-border-BG-complete.png) repeat-y 0 0 !important;;*/
  border-left:8px solid #A4CE4E !important;
}

/* ======== Step Style ====== */

.ml-step-numbers {
  margin-left:-26px;
  margin-right:10px;
  margin-top:-8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding:5px;
  background: #d9d9d6;
  font-size: 18px;
  font-weight:bold;
  color: #5E5E5E;
  text-align: center;
  display:inline-block;
}

.ml-current-step {
  background: #007ABC;
  color: #ffffff;
}

.ml-completed-step {
  padding:2px;
  border:4px solid #A4CE4E;
  background:#FFFFFF ;
  color: #333333;
}

.ml-completed-step::after {
  content:"\f00c";
}

/* === ends progress indicator === */

/* === begins forms === */
@charset "UTF-8";

/* Forms*/
.ml-form {
  padding: 8px;
  position: static;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px
}

.ml-form.questions-type {
  grid-template-columns: repeat(2, 1fr);
}

.ml-form.modal-type {
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (max-width: 979px){
  .ml-form {
    grid-template-columns: repeat(3,minmax(240px, 240px));

  }
}

@media screen and (max-width: 768px){
  .ml-form, .ml-form.questions-type  {
    grid-template-columns: repeat(2,minmax(240px, 240px));
  }
}

@media screen and (max-width: 421px){
  .ml-form, .ml-form.questions-type {
    grid-template-columns: repeat(1,minmax(240px, 240px));
  }
}

.ml-form-field {
  width: 100%;
  position: static;
  border: 0px;
  padding: 0;
}

.ml-form-field select:disabled {
  background-color: #EBEBE4 !important;
}

.ml-form-field input:disabled {
  background-color: #EBEBE4 !important;
}

.multiple {
  height: 130px !important;
  background: none !important;
}

.ml-form-field select {
  /*padding: 10px; */
  padding-top: 5px;
  padding-right: 27px;
  padding-left: 10px;
  padding-bottom: 5px;
  font: inherit;
  line-height: 19px;
  outline: none;
  border: 1px solid #BBBBBB;
  font-size: 13px;
  color: #333333;
  width: 100%;
  border-radius: 2px;
  height: 42px;
  -webkit-appearance: none;
  -moz-appearance: none;
  /*  remove default arrow */
  appearance: none;
  /*    For Chrome and Safari  */
  background-image: url(assets/img/dropdowns/si-glyph-triangle-down.svg);
  background-image: url(assets/img/dropdowns/si-glyph-triangle-down.svg);
  /* si-glyph-triangle-down.svg*/
  /*  For old Fx (3.6 to 15)  */
  background-image: url(assets/img/dropdowns/si-glyph-triangle-down.svg);
  /*  For pre-releases of IE 10 */
  background: url(assets/img/dropdowns/si-glyph-triangle-down.svg) 96% / 20% no-repeat;
  /*  For old Opera (11.1 to 12.0)  */
  background-image: url(assets/img/dropdowns/si-glyph-triangle-down.svg);
  /*  Standard syntax; must be last */
  background-image: url(assets/img/dropdowns/si-glyph-triangle-down.svg);
  background-position: center right 6px;
  background-repeat: no-repeat;
  background-size: 15px;
  background-color: #fff;
}

select::-ms-expand {
  display: none;
  /* hide the default arrow in ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
  select {
    background-image: url(assets/img/dropdowns/si-glyph-triangle-down.svg)\9;
    padding: 5px\9;
  }
}

.ml-form-field select:focus {
  border: solid 1px #007abc;
}

.ml-form-field select:focus+span {
  color: #666666;
}

/* Legend*/
.ml-form-field legend {
  margin-bottom: 5px;
}

.ml-form-field legend,
.ml-form-field label {
  font-size: 15px;
  color: #333333;
}

/* Label*/
.ml-form-field label {
  position: relative;
  display: block;
  text-align: left;
}

.ml-form-field label span {
  display: inline;
  padding: 2px;
}

.field-disabled label span {
  background-color: transparent
}

/* Form Field*/
.ml-form-field input {
  padding: 10px;
  font: inherit;
  outline: none;
  border: 1px solid #BBBBBB;
  font-size: 13px;
  color: #333333;
  width: 100%;
  border-radius: 2px;
}

.ml-form-field input:focus {
  border: solid 1px #007abc;
}

.ml-form-field input:focus+span {
  color: #666666;
}

.ml-form-field span {
  background: #fff;
  color: #333;
}

.ml-form-field-togglevisible {
  width: 18px;
  height: 13px;
  background: url(assets/img/inputs/ml-toggle-visibility-show.png) no-repeat;
  background-size: 100%;
  display: block;
  position: absolute;
  right: 6px;
  top: 12px;
}

.ml-form-field-togglevisible.occult {
  background: url(assets/img/inputs/ml-toggle-visibility-hide.png) no-repeat;
  background-size: 100%;
}

.ml-form-field-datepicker {
  width: 18px;
  height: 20px;
  background: url(assets/img/datepicker/utility-3_calendar_16p_HVR.svg) no-repeat;
  background-size: 100%;
  display: block;
  position: absolute;
  right: 6px;
  top: 12px;
}

.ml-form-field-datepicker.clicked {
  background: url(assets/img/datepicker/utility-3_calendar_16p.svg) no-repeat;
  background-size: 100%;
}

.ml-form-field-errortext {
  display: none;
  font-size: 12px;
  color: #DB1818;
  margin-top: 5px;
}

.ml-form-field-helptext {
  font-size: 13px;
  color: #333333;
  margin-top: 5px;
}

.ml-form-field-helptext a {
  color: #007abc;
  font-size: 13px;
}

.ml-form-field-helptext .tooltip {
  background-color: #F2F2F2;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  padding: 10px;
  text-decoration: none;
  display: none;
  margin-top: 10px;
}

.ml-form-field-helptext.open .tooltip {
  display: block;
}

.ml-form-field.error input,
.ml-form-field.error select {
  border: solid 1px #DB1818;
  background-color: #FDE8E8;
}

.ml-form-field.error input:focus,
.ml-form-field.error select:focus {
  background-color: #fff;
}

.ml-form-field.error input:focus+span,
.ml-form-field.error select:focus+span {
  background-color: #fff;
  color: #DB1818;
}

.ml-form-field.error span {
  background-color: #FDE8E8;
  color: #DB1818;
}

.ml-form-field.error .ml-form-field-errortext {
  display: inline-block;
}

.ml-form-field-checkboxes-group {
  width: auto;
  height: 18px;
  position: relative;
  margin: 20px auto;
  border-radius: 2px;
}

.ml-form-field-checkboxes-group input {
  position: absolute;
}

.ml-form-field-checkboxes-group label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 90%;
  height: 16px;
  cursor: pointer;
  position: absolute;
  padding: 0px 0 0 25px;
}

.ml-form-field-checkboxes-group label:before {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: -3px;
  left: 2px;
  border: solid 2px #BBBBBB;
}

.ml-form-field-checkboxes-group label:after {
  content: '';
  width: 9px;
  height: 4px;
  position: absolute;
  top: 2px;
  left: 6px;
  border-left: 2px solid #007abc;
  border-bottom: 2px solid #007abc;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.ml-form-field-checkboxes-group input[type=checkbox] {
  opacity: 0;
}

.ml-form-field-checkboxes-group input[type=checkbox]:checked+label:after {
  opacity: 1;
}

.ml-form-field-checkboxes-group input[type=checkbox]:focus+label:before,
.ml-form-field-checkboxes-group input[type=checkbox]:checked+label:before {
  border-color: #007abc;
}

.complementariesQuestions {
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 50px !important;
}

.ml-form-field-radio-group {
  width: auto;
  height: 18px;
  position: relative;
  margin: 20px auto;
  transition: all 250ms;
}

.ml-form-field-radio-group input {
  position: absolute;
  z-index: 5;
}

.ml-form-field-radio-group label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 90%;
  height: 16px;
  cursor: pointer;
  position: absolute;
  padding: 0px 0 0 25px;
}

.ml-form-field-radio-group label:before {
  content: '';
  width: 19px;
  height: 19px;
  position: absolute;
  top: -3px;
  left: 2px;
  border: solid 1px #BBBBBB;
  border-radius: 50%;
}

.ml-form-field-radio-group label:after {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  top: 3px;
  left: 8px;
  background-color: #007abc;
  border: solid 1px #007abc;
  border-radius: 50%;
  opacity: 0;
}

.ml-form-field-radio-group input[type=radio] {
  opacity: 0;
}

.ml-form-field-radio-group input[type=radio]:checked+label:after {
  opacity: 1;
}

.ml-form-field-radio-group input[type=radio]:focus+label:before,
.ml-form-field-radio-group input[type=radio]:checked+label:before {
  border: solid 1px #007abc;
}

.ml-form-field-droplist-trigger {
  position: relative;
  border: solid 1px #BBBBBB;
  width: 100%;
  color: #333333;
  text-align: left;
  font-size: 13px;
  background-color: #fff;
  padding: 10px;
}

.ml-form-field-droplist-trigger:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #AAA9AA transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}

.ml-form-field-droplist-trigger:focus {
  border: solid 1px #007abc;
  outline: 0;
}

.ml-form-field-droplist-trigger:focus:after {
  border-color: #007abc transparent transparent transparent;
}

.ml-form-field-droplist-trigger.active {
  border: solid 1px #007abc;
  border-bottom: 0;
}

.ml-form-field-droplist-trigger.active:after {
  border-color: #007abc transparent transparent transparent;
}

.ml-form-field-droplist-fields {
  display: none;
}

.ml-form-field-droplist-fields.active {
  display: block;
  border: solid 1px #007abc;
  border-top: 0;
  padding: 10px;
}

.ml-form-field-select .select-hidden {
  opacity: 0;
  padding-right: 10px;
  font-size: 13px;
}

.ml-form-field-select .select-hidden:focus {
  border: solid 1px red;
}

.ml-form-field-select .select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 13px;
  border: 1px solid #BBBBBB;
  color: #333333;
  width: 100%;
  height: 40px;
}

.ml-form-field-select .select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 20px;
  font-size: 13px;
  background-color: #fff;
  padding: 10px;
}

.ml-form-field-select .select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #AAA9AA transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}

.ml-form-field-select .select-styled:focus {
  border: solid 1px #007abc;
  outline: 0;
}

.ml-form-field-select .select-styled:focus:after {
  border-color: #007abc transparent transparent transparent;
}

.ml-form-field-select .select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 13px;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  border: solid 1px #007abc;
  border-top: 0px;
  list-style: none;
  background-color: #ffffff;
}

.ml-form-field-select .select-options li {
  margin: 0;
  padding: 12px 0;
  font-size: 13px;
  text-indent: 15px;
  border-top: 1px solid #e6e6e6;
}

.ml-form-field-select .select-options li:hover {
  color: #ffffff;
  background: #007abc;
}

.ml-form-field-select .select-options li[rel="hide"] {
  display: none;
}

.ml-form-field-select .select-options li:first-child {
  border-top: 0;
}

.ml-form[data-forms="floating-label"] input+span ,
.ml-form[data-forms="floating-label"] input[value = ""]+span {
  transition: 0.3s ease;
  -webkit-transform: translateY(-0.5em);
  -ms-transform: translateY(-0.5em);
  transform: translateY(-0.5em);
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 15px;
  font-size: 13px;
  width: 80%;
}

.ml-form[data-forms="floating-label"] input:focus+span ,
.ml-form[data-forms="floating-label"] input:not([value=""])+span {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  font-weight: bold;
  font-size: 13px;
  visibility: visible;
  top: -5px;
  margin-top: 13px;
  width: auto;
  background-color: #fff;
  text-shadow: -4px 2px 0 0 #FFFFFF, 3px 0 1px 0 #FFFFFF, -2px 0 0 0 #FFFFFF, -3px 1px 2px 0 #FFFFFF, 6px 0 0 0 #FFFFFF, 4px 2px 0 0 #FFFFFF, 1px 1px 0 0 #FFFFFF;
}

.ml-form[data-forms="floating-label"] select+span,
.ml-form[data-forms="floating-label"] select[value=""]+span {
  transition: 0.3s ease;
  -webkit-transform: translateY(-0.5em);
  -ms-transform: translateY(-0.5em);
  transform: translateY(-0.5em);
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 15px;
  font-size: 13px;
  width: auto;
}

.ml-form[data-forms="floating-label"] select:focus+span,
.ml-form[data-forms="floating-label"] select:not([value=""])+span {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  font-weight: bold;
  font-size: 13px;
  visibility: visible;
  top: -5px;
  margin-top: 13px;
  width: auto;
  background-color: #fff;
  text-shadow: -4px 2px 0 0 #FFFFFF, 3px 0 1px 0 #FFFFFF, -2px 0 0 0 #FFFFFF, -3px 1px 2px 0 #FFFFFF, 6px 0 0 0 #FFFFFF, 4px 2px 0 0 #FFFFFF, 1px 1px 0 0 #FFFFFF;
}
.ml-form[data-forms="floating-label"] select:focus+span.pais,
.ml-form[data-forms="floating-label"] select:not([value=""])+span.pais {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  /* color: red ; */
  font-weight: normal;
  font-size: 13px;
  visibility: visible;
  top: -5px;
  margin-top: 13px;
  width: auto;
  background-color: #fff;
  text-shadow: -4px 2px 0 0 #FFFFFF, 3px 0 1px 0 #FFFFFF, -2px 0 0 0 #FFFFFF, -3px 1px 2px 0 #FFFFFF, 6px 0 0 0 #FFFFFF, 4px 2px 0 0 #FFFFFF, 1px 1px 0 0 #FFFFFF;
}

.disabled-field-inclusion {
  background-color: rgb(235, 235, 228) !important;
}

.disabled-field-increment {
  background-color: rgb(235, 235, 228) !important;
}

/*Next style is for the upload button, because style for this component doesnt exist on ux guide*/
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-upload {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.ml-icon-link-menu {
  padding: 5px;
  display: inline-block;
  margin: 5px 0;
}

.ml-icon-link-menu img {

  width: 35px;
  margin-right: 10px;
  vertical-align: middle;
}

.list-group-item:hover {
  color: #337ab7;
  text-shadow: 0 0 1em #337ab7;
  cursor: pointer;
}

.span-disabled {
  background-color: #EBEBE4 !important;
}

.not-arrow {
  background-image: none !important;
}

.beneficiary-icon:hover{
  cursor: pointer;
}

/*.ml-icon-link-menu:hover img {
  content:url(assets/img/navigation/i_vision2.png);
}*/

.button-close {
  width: 25px;
  height: 25px;
  content: url(/assets/img/modal/close-icon.svg);
}
.button-close:hover{
  content: url(/assets/img/modal/close-icon-over.svg);
}
