@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

body{
  font-family: 'Noto Sans', sans-serif;
  height: 100%;
  width: 100%;
}
