<div style="border:1px solid black; width: 100%">
  <p>content component works!</p>
  <div *ngIf="contentObj.fields">
    <div *ngFor="let field of contentObj.fields" style="display: inline-block">
      <app-field-form [form]="form" [fieldObj]="field"></app-field-form>
    </div>
  </div>

  <div *ngIf="contentObj.process">
    <app-process-form [form]="form" [processObj]="contentObj.process"></app-process-form>
  </div>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>

  <button (click)="getFormValue()">get form value</button>
</div>

