<div *ngIf="contentObj.showContent === true" [id]="contentObj.idHtml">
  <p *ngIf="contentObj.title" class="title">{{contentObj.title}}</p>

  <p *ngIf="contentObj.description">{{contentObj.description}}</p>

  <div [ngSwitch]="contentObj.contentType">

    <div *ngSwitchCase="'looseFields'" data-forms="floating-label" class="ml-form"
         [ngClass]="contentObj.styleClass">
      <div *ngFor="let field of contentObj.fields">
        <app-field-form [fieldObj]="field" [form]="applicationService.getFormGroup()"></app-field-form>
      </div>
    </div>

    <div *ngSwitchCase="'table-beneficiary'" class="ml-step-container">
      <app-beneficiary-table [type]="contentObj.contentType"></app-beneficiary-table>
    </div>
    <div *ngSwitchCase="'table-formatwo'" class="ml-step-container">
      <app-formatwo-table [type]="contentObj.contentType"></app-formatwo-table>
    </div>
    <div *ngSwitchCase="'table-formathree'" class="ml-step-container">
      <app-formathree-table [type]="contentObj.contentType"></app-formathree-table>
    </div>
    <div *ngSwitchCase="'table-formatfour'" class="ml-step-container">
      <app-formatfour-table [type]="contentObj.contentType"></app-formatfour-table>
    </div>
  </div>

  <p *ngIf="contentObj.warningMessage">{{contentObj.warningMessage}}</p>

  <div *ngIf="contentObj.operations" class="operation">
    <app-operation-form *ngFor="let operation of contentObj.operations" [operationObj]="operation"></app-operation-form>
  </div>

  <!-- Progress indicator steps -->
  <div *ngIf="contentObj.process" class="ml-step-container">
    <app-process-form [form]="form" [processObj]="contentObj.process"></app-process-form>
  </div>
  <!-- ends Progress indicator steps-->

  <div *ngIf="contentObj.contentChildren">
    <div *ngFor="let contentChild of contentObj.contentChildren">
      <app-content-form [form]="form" [contentObj]="contentChild"></app-content-form>
    </div>
  </div>

  <!--<div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>

  <button (click)="getFormValue()">get form value</button>-->
</div>

