<!--<div [formGroup]="form" data-forms="floating-label" class="ml-form">-->
<div *ngIf="show" [ngSwitch]="fieldObj.type" [formGroup]="form">

  <p *ngIf="fieldObj.legend">{{fieldObj.legend}}</p>

  <fieldset *ngSwitchCase="'text'" class="ml-form-field"
            [ngClass]="{'error': !fieldObj.valid}">
    <label>
      <input appOnlyGivenCharacters
             [noAllowedCharactersPattern]="fieldObj.noAllowedCharactersPattern"
             [pattern]="regExpPattern"
             [type]="toggleVisible ? 'text' : 'password'"
             [formControlName]="fieldObj.name"
             [id]="fieldObj.idHtml"
             placeholder="{{fieldObj.placeholder}}"
             value=""
             [maxlength]="fieldObj.maxValue"
             (keyup)="position($event)"
             (blur)="onBlur()"
             (click)="verifyMask()">
      <span [ngStyle]="{'background': this.disable ? '#EBEBE4':''}">{{fieldObj.label}}</span>
      <a *ngIf="fieldObj.canChangeType" href="javascript:;" (click)="onClickToggle()"
         class="ml-form-field-togglevisible"
         [ngClass]="[toggleVisible ? 'ml-form-field-togglevisible': 'ml-form-field-togglevisible occult']"
      ></a>
      <div class="ml-form-field-errortext" *ngIf="!fieldObj.valid"> {{fieldObj.message}} </div>
    </label>
  </fieldset>

  <!--<fieldset *ngSwitchCase="'file'" class="ml-button-primary"
            [ngClass]="{'error': !valid}">
    <label>
      <input [type]="'file'"
             [formControlName]="fieldObj.name"
             [id]="fieldObj.idHtml"
             (change)="fileChange($event)"
             placeholder="{{fieldObj.placeholder}}"
             value="" >

      <span [ngStyle]="{'background': this.disable ? '#EBEBE4':''}">{{fieldObj.label}}</span>
      <a *ngIf="fieldObj.canChangeType" href="javascript:;" (click)="onClickToggle()"
         class="ml-form-field-togglevisible"
         [ngClass]="[toggleVisible ? 'ml-form-field-togglevisible': 'ml-form-field-togglevisible occult']"
      ></a>
      <div class="ml-form-field-errortext">{{fieldObj.message}}</div>
    </label>
  </fieldset>-->

  <fieldset *ngSwitchCase="'date'" class="ml-form-field"
            [ngClass]="{'error': !fieldObj.valid }">
    <label>

      <app-custom-datepicker
        [form]="form"
        [fieldObj]="fieldObj"
        [dateFormat]="fieldObj.placeholder"
        (validate)="onValidate($event)">
      </app-custom-datepicker>

      <div class="ml-form-field-errortext"
           *ngIf="!fieldObj.valid">
        {{fieldObj.message}}</div>
    </label>
  </fieldset>

  <fieldset *ngSwitchCase="'select'" class="ml-form-field"
            [ngClass]="{'error': !fieldObj.valid }">
    <label>
      <select name="{{fieldObj.label}}"
              [formControlName]="fieldObj.name"
              [id]="fieldObj.idHtml"
              (change)="onChangeSelect($event)"
              (blur)="onBlur()">
        <option value="" [selected]="isSelected"> {{fieldObj.label}} </option>
        <option *ngFor="let opt of selectOptions" [value]="opt.value"
                [selected]="checkValue(opt.value, isSelected)">{{opt.name}}</option>

      </select>
      <span *ngIf="showSelectLabel" [ngStyle]="{'background': this.disable ? '#EBEBE4':''}">{{fieldObj.label}}</span>
      <div class="ml-form-field-errortext"
           *ngIf="!fieldObj.valid">
        {{fieldObj.message}}</div>
    </label>
  </fieldset>

  <fieldset *ngSwitchCase="'select-multiple'" class="ml-form-field"
            [ngClass]="{'error': !fieldObj.valid}">
    <label>

      <!--<select multiple name="{{fieldObj.label}}"
              [formControlName]="fieldObj.name"
              [id]="fieldObj.idHtml"
              (change)="onChangeSelect($event)"
              (blur)="onBlur()">
        <option value="" [selected]="isSelected"> {{fieldObj.label}} </option>
        <option *ngFor="let opt of selectOptions" [value]="opt.value"
                [selected]="checkValue(opt.value)">
          {{opt.name}}</option>
      </select>-->

      <mat-select multiple class="select"
                  [formControlName]="fieldObj.name"
                  [id]="fieldObj.idHtml"
                  (change)="onChangeSelect($event)"
                  (blur)="onBlur()">
        <mat-option *ngFor="let opt of selectOptions" [value]="opt.value">{{opt.name}}</mat-option>
      </mat-select>

      <span *ngIf="showSelectLabel">{{fieldObj.label}}</span>
      <div class="ml-form-field-errortext">{{fieldObj.message}}</div>
    </label>
  </fieldset>

  <fieldset *ngSwitchCase="'select-1'" class="ml-form-field"
            [ngClass]="{'error': !fieldObj.valid }">
    <label>
      <select name="{{fieldObj.label}}"
              [formControlName]="fieldObj.name"
              [id]="fieldObj.idHtml"
              (change)="onChangeSelect($event)"
              (blur)="onBlur()">
        <option value="" [selected]="isSelected"> {{fieldObj.label}} </option>
        <option *ngFor="let opt of selectOptions1" [value]="opt.value"
                [selected]="checkValue(opt.value)">{{opt.name}}</option>

      </select>
      <span *ngIf="showSelectLabel" [ngStyle]="{'background': this.disable ? '#EBEBE4':''}">{{fieldObj.label}}</span>
      <div class="ml-form-field-errortext"
           *ngIf="!fieldObj.valid">
        {{fieldObj.message}}</div>
    </label>
  </fieldset>


  <fieldset *ngSwitchCase="'radio'" class="ml-form-field ml-form-field-radio"
            [ngClass]="{'error-radio': !fieldObj.valid}">

      <label>{{fieldObj.label}}</label>

      <div class="ml-form-field-radio-group"
           *ngFor="let radioOption of radioOptions">

        <input type="radio"
               [formControlName]="fieldObj.name"
               [id]="fieldObj.idHtml + radioOption.id"
               [name]="fieldObj.name"
               [value]="radioOption.value"
               (keydown)="onKeyDownRadio($event, fieldObj.idHtml + (radioOption.id + 1))"
               (click)="onClickRadioButton(radioOption.value)">

        <label>{{radioOption.name}}</label>
      </div>

    <div class="ml-form-field-errortext"
         *ngIf="!fieldObj.valid">
      Debe eligirse un valor
    </div>

  </fieldset>

  <!--use this type of field when are more than one option in the checkBox options example from a catalog-->
  <fieldset *ngSwitchCase="'checkbox-n'" class="ml-form-field ml-form-field-checkboxes">

    <label *ngIf="fieldObj.label != null">{{fieldObj.label}}</label>
    <!--<div class="checkbox-options">-->
    <div class="ml-form-field-checkboxes-group" *ngFor="let checkBoxOption of checkBoxOptions">
      <input type="checkbox" [formControlName]="fieldObj.name"
             [id]="checkBoxOption.id + '-checkbox'"
             [name]="checkBoxOption.name"
             [value]="checkBoxOption.value">
             <!--[checked]="checkValue(checkBoxOption.value)">-->
      <label [for]="checkBoxOption.id + '-checkbox'">{{checkBoxOption.name}}</label>
    </div>
    <!--</div>-->
  </fieldset>

  <!--use this type of field when there is only one option for the checkbox-->
  <fieldset *ngSwitchCase="'checkbox-1'" class="ml-form-field">

    <div class="ml-form-field-checkboxes-group">
      <input type="checkbox" [formControlName]="fieldObj.name"
             [id]="fieldObj.name + '-checkbox'"
             [name]="fieldObj.name"
             [value]="fieldObj.value"
             (change)="onCheckboxChange()">

      <label [for]="fieldObj.name + '-checkbox'"></label>
    </div>
  </fieldset>

  <fieldset *ngSwitchCase="'file'" class="ml-button-primary"
              [ngClass]="{'error': !fieldObj.valid}">
    <div class="pull-left" style="text-align: right; width: 18%;">
      <button class="ml-button-file" [ngClass]="{'ml-form-file-error': !fieldObj.valid}"
              id="buttonFile" (click)="onClickFile();"
              style="padding: 0; border: none;">
        <input [type]="'file'"
               [formControlName]="fieldObj.name"
               [id]="fieldObj.idHtml"
               (change)="fileChange($event)"
               placeholder="{{fieldObj.placeholder}}"
               value=""
               [required]="fieldObj.required"
               [accept]="fieldObj.accept"
               class="ml-button-file"
               style='display: none;'>
      </button>
    </div>
    <div class="pull-right" style="text-align: left; width: 82%;" *ngIf="!fieldObj.message">
      <div style="margin-left: 6%; border: 1px solid gray; text-align: center; height: 42px; white-space: pre; text-overflow: ellipsis; overflow: hidden;">
        {{fileName}}
      </div>
    </div>
    <div class="pull-right" style="text-align: left; width: 82%;" *ngIf="fieldObj.message && !fieldObj.valid">
      <div [ngClass]="{'ml-form-file-error': !fieldObj.valid}" style="margin-left: 6%; border: 1px solid gray; text-align: center; height: 42px;">
        <span class="ml-form-field-errortext" style="white-space: pre;">{{fieldObj.message}}</span>
        <span style="width: 100%; margin-left: 5px;" type="text" disabled>{{fileName}}</span>
      </div>
    </div>
  </fieldset>
  <!--Input File-->


  <div *ngSwitchCase="'autocomplete'">
    <fieldset class="ml-form-field"
              [ngClass]="{'error': !fieldObj.valid}">
      <label>
        <input matInput appOnlyGivenCharacters
               [noAllowedCharactersPattern]="fieldObj.noAllowedCharactersPattern"
               [pattern]="regExpPattern"
               [type]="toggleVisible ? 'text' : 'password'"
               [formControlName]="fieldObj.name"
               [id]="fieldObj.idHtml"
               placeholder="{{fieldObj.placeholder}}"
               value=""
               [maxlength]="fieldObj.maxValue"
               [matAutocomplete]="auto"
               (keyup)="onKeyUp($event)"
               (blur)="onBlur()">
        <span [ngStyle]="{'background': this.disable ? '#EBEBE4':''}">{{fieldObj.label}}</span>
        <a *ngIf="fieldObj.canChangeType" href="javascript:;" (click)="onClickToggle()"
           class="ml-form-field-togglevisible"
           [ngClass]="[toggleVisible ? 'ml-form-field-togglevisible': 'ml-form-field-togglevisible occult']"
        ></a>
        <div class="ml-form-field-errortext"
             *ngIf="!fieldObj.valid">
          {{fieldObj.message}}
        </div>
      </label>

    </fieldset>

    <mat-autocomplete #auto="matAutocomplete">
      <ng-container *ngIf="loading && (autocompleteOptions | filter: form.controls[fieldObj.name].value) as result">
        <mat-option *ngFor="let option of result" [value]="option.name"
                    (onSelectionChange)="onKeyUpAutoComplete($event, option)">
          {{option.name}}
        </mat-option>
      </ng-container>

    </mat-autocomplete>

  </div>

  <jw-modal [id]="modalID" [modalType]="'overlay'">
    <div class="overlay-container">
      <div style="text-align: right">
        <img class="button-close" (click)="closeModal(modalID)">
      </div>
      <p>{{modalMessage}}</p>

      <div class="operation-modal">
        <app-operation-form [operationObj]= okOperation
                            (click)="executeOperation(okOperation.delegateOperation)">
        </app-operation-form>
      </div>
    </div>
  </jw-modal>

</div>
