/*  ****** Forms ****** */
.ml-form {
  padding: 20px;
  position: relative;
  background-color: #125699;
}

.ml-form-field {
  margin-bottom: 20px;
  display: block;
  width: 100%;
  max-width: 500px;
  position: relative;
  border: 0px;
  padding: 0;
}

/*  ****** Legend ****** */
.ml-form-field legend {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 13px;
  color: #333333;
}



/*  ****** Label ****** */
.ml-form-field label {
  position: relative;
  display: block;
  text-align: left;
  font-size: 13px;
  color: #333333;
}
.ml-form-field label span {
  display: inline;
  padding: 5px 2px 2px 2px;
}




/*  ****** Form Field  ****** */
.ml-form-field input {
  padding: 10px;
  font: inherit;
  outline: none;
  border: 1px solid #757575;
  font-size: 13px;
  color: #333333;
  width: 100%;
  border-radius: 2px;
}

.ml-form-field input:focus {
  border: solid 1px #007abc;
}

.ml-form-field input:focus + span {
  color: #666666;
}

.ml-form-field span {
  background: #fff;
  color: #333;
}



/* ******  Error   ****** */
.ml-form-field-errortext {
  display: none;
  font-size: 12px;
  color: #DB1818;
  margin-top: 5px;
}



/* ****** Form field Error input ******* */
.ml-form-field.error input, .ml-form-field.error select {
  border: solid 1px #DB1818;
  background-color: #FDE8E8;
}
.ml-form-field.error input:focus, .ml-form-field.error select:focus {
  background-color: #fff;
}
.ml-form-field.error input:focus + span, .ml-form-field.error select:focus + span {
  background-color: #fff;
  color: #DB1818;
}
.ml-form-field.error span {
  background-color: #FDE8E8;
  color: #DB1818;
}
.ml-form-field.error .ml-form-field-errortext {
  display: block;
}



/*  ******  Floating Label   ****** */
.ml-form[data-forms="floating-label"] input + span, .ml-form[data-forms="floating-label"] input[value=""] + span {
  transition: 0.3s ease;
  -webkit-transform: translateY(-0.5em);
  -ms-transform: translateY(-0.5em);
  transform: translateY(-0.5em);
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 13px;
  font-size: 13px;
  width: 90%;
}
.ml-form[data-forms="floating-label"] input:focus + span, .ml-form[data-forms="floating-label"] input:not([value=""]) + span {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  font-weight: bold;
  font-size: 13px;
  visibility: visible;
  top: -5px;
  margin-top: 13px;
  width: auto;
  background-color: #fff;
  text-shadow: -4px 2px 0 0 #FFFFFF, 3px 0 1px 0 #FFFFFF, -2px 0 0 0 #FFFFFF, -3px 1px 2px 0 #FFFFFF, 6px 0 0 0 #FFFFFF, 4px 2px 0 0 #FFFFFF, 1px 1px 0 0 #FFFFFF;
}
