<div id="content" #content>
  <app-header>

  </app-header>

  <app-menu></app-menu>

  <div style="background-color: white">

    <div style="text-align: center">
      <h1 class="title">Solicitudes MetaLife</h1>
    </div>

    <button (click)="getJson()">GET JSON</button>

    <div class="container">
      <app-section-form *ngFor="let section of applicationObj.sections" [form]="formGroup"
                        [sectionObj]="section"></app-section-form>

      <div class="operation">
        <app-operation-form *ngFor="let appOperation of applOperations"
                            [operationObj]="appOperation"
                            (click)="executeOperation(appOperation.delegateOperation)"></app-operation-form>
      </div>
    </div>
  </div>

  <jw-modal [id]="'modal-search'"
            [modalType]="'overlay'">
    <app-search-occupation [modalID]="'modal-search'"></app-search-occupation>
  </jw-modal>

  <jw-modal [id]="'modal-error'"
            [modalType]="'overlay'">
    <div class="overlay-container">
      <div style="text-align: right">
        <img class="button-close" (click)="closeModal('modal-error')">
      </div>
      <p class="header-small"> Por favor verificar la información en las sección(es):</p>
      <div *ngIf="errorMessage">
        <p *ngFor="let errorMsg of getMessages()">{{errorMsg}}</p>
      </div>

      <!--<p>{{errorMessage}}</p>-->
      <div class="operation-modal">
        <app-operation-form [operationObj]=closeWindowOpt
                            (click)="executeOperation(closeWindowOpt.delegateOperation)">
        </app-operation-form>
      </div>
    </div>
  </jw-modal>

  <app-footer></app-footer>

</div>
