<div id="content" #content>
  <app-header>

  </app-header>

  <app-menu></app-menu>

  <div style="background-color: white">

    <!--<button (click)="searchModal(modalLoadPDFId)">SEARCH MODAL</button>
    <button (click)="getAllModals()">GET ALL MODALS</button>-->

    <div style="text-align: center">
      <h1 class="title">Solicitudes MetaLife</h1>
      <p class="folio" *ngIf="appFolio">{{'Número de solicitud CP DES: ' + appFolio}}</p>
      <p class="folio" *ngIf="appFuc">{{'Número de solicitud: ' + appFuc}}</p>
    </div>

    <div class="container">
      <app-section-form *ngFor="let section of applicationObj.sections" [form]="formGroup"
                        [sectionObj]="section"></app-section-form>

      <div class="operation">
        <app-operation-form *ngFor="let appOperation of applOperations"
                            [operationObj]="appOperation"
                            (click)="executeOperation(appOperation.delegateOperation)"></app-operation-form>
      </div>
    </div>
  </div>

  <jw-modal [id]="'modal-search'"
            [modalType]="'overlay'">
    <app-search-occupation [modalID]="'modal-search'"></app-search-occupation>
  </jw-modal>

  <jw-modal [id]="'modal-error'"
            [modalType]="'overlay'">
    <div class="overlay-container">
      <div style="text-align: right">
        <img class="button-close" (click)="closeModal('modal-error')">
      </div>
      <p class="header-small"> Por favor verificar la información en las sección(es):</p>
      <div *ngIf="errorMessage">
        <p *ngFor="let errorMsg of getMessages()">{{errorMsg}}</p>
      </div>

      <!--<p>{{errorMessage}}</p>-->
      <div class="operation-modal">
        <app-operation-form [operationObj]=closeWindowOpt
                            (click)="executeOperation(closeWindowOpt.delegateOperation)">
        </app-operation-form>
      </div>
    </div>
  </jw-modal>

  <br>
  <br>


  <jw-modal [id]= modalLoadPDFId
            [modalType]="'overlay'">
    <div *ngIf="viewLoading" class="ml-loader-container">
      <div class="ml-loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="ml-loader-label"><p>Generando PDF...</p></div>
    </div>
  </jw-modal>

  <jw-modal [id]= modalErrorId
            [modalType]="'overlay'">
    <div class="overlay-container">
      <div style="text-align: right">
        <img class="button-close" (click)="closeModal(modalErrorId)">
      </div>
      <p class="header-small"> Ha ocurrido un error al generar el PDF :( </p>

      <div class="operation-modal">
        <app-operation-form [operationObj]= closeWindowOpt
                            (click)="executeOperation(closeWindowOpt.delegateOperation)">
        </app-operation-form>
      </div>
    </div>
  </jw-modal>

  <app-footer></app-footer>

</div>
