<div [ngClass]="styleClass"
     [ngStyle]="{'background-color':  this.applicationService.determinateEvenOrOdd(index) ? '#E5F4FB': '#FFFFFF'}">
    <div *ngIf="itemType === 'beneficiary'" class="item-attribute">{{getBeneficiaryTypeLabel()}}</div>
    <div class="item-attribute"
         *ngIf="itemType === 'beneficiary' && item.beneficiaryType === 'phyPerson'" >{{item.name + ' ' + item.fatherLastName + ' ' + item.motherLastName}}</div>
    <div class="item-attribute"
         *ngIf="itemType === 'beneficiary' && (item.beneficiaryType === 'morPerson' || item.beneficiaryType === 'fidPerson')">{{item.businessName}}</div>
    <div class="item-attribute" *ngIf="itemType === 'beneficiary'">{{item.birthDateOrConstitution}}</div>

  <div class="item-attribute" *ngFor="let field of fields">
    <app-field-form [fieldObj]="field" [form]="formGroup"></app-field-form>
    {{field.value}}
  </div>

  <div class="operations">
    <div>
      <img class="icon-delete" (click)="openModal(modalId)">
      <img class="icon-edit" (click)="editItem()">
    </div>
    <div *ngIf="isLast && totalItems < maxItems && totalParticipationPercentageItems < 100">
      <img src="../../../../assets/img/tables/plus_simbol.svg" (click)="addNewItem()">
    </div>
  </div>
</div>

<jw-modal [id]="modalId" [modalType]="'overlay'">
  <div class="overlay-container">
    <div style="text-align: right">
      <img class="button-close" (click)="closeModal(modalId)">
    </div>
    <p>{{questionModal}}</p>

    <div class="operation-modal">
      <app-operation-form *ngFor="let operation of operations" [operationObj]="operation"
                          (click)="executeOperation(operation.delegateOperation)">
      </app-operation-form>
    </div>
  </div>
</jw-modal>
