.beneficiary-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.beneficiary-attribute {
  text-align: center;
}

.operations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.icon-delete {
  width: 16px;
  height: 16px;
  content: url(../../../../assets/img/tables/delete.svg);
}
.icon-delete:hover{
  content: url(../../../../assets/img/tables/delete-hover.svg);
}

.icon-edit {
  width: 16px;
  height: 16px;
  content: url(../../../../assets/img/tables/edit.svg);
}
.icon-edit:hover{
  content: url(../../../../assets/img/tables/edit-hover.svg);
}
