<div class="beneficiary-row" [ngStyle]="{'background-color':  determinateEvenOrOdd(index) ? '#E5F4FB': '#FFFFFF'}">
  <div class="beneficiary-attribute">{{getBeneficiaryTypeLabel()}}</div>
  <div class="beneficiary-attribute"
       *ngIf="beneficiary.beneficiaryType === 'phyPerson'">{{beneficiary.name + ' ' + beneficiary.fatherLastName + ' ' + beneficiary.motherLastName}}</div>
  <div class="beneficiary-attribute"
       *ngIf="beneficiary.beneficiaryType === 'morPerson' || beneficiary.beneficiaryType === 'fidPerson'">{{beneficiary.bussinesName + 'here'}}</div>
  <div class="beneficiary-attribute">{{beneficiary.birthDateOrConstitution}}</div>

  <div class="beneficiary-attribute" *ngFor="let field of fields">
    <app-field-form [fieldObj]="field" [form]="formGroup"></app-field-form>
  </div>

  <div class="operations">
    <div>
      <img class="icon-delete" (click)="deleteBeneficiary()">
      <img class="icon-edit" (click)="editBeneficiary()">
    </div>
    <div *ngIf="isLast"><img src="../../../../assets/img/tables/plus_simbol.svg" (click)="addNewBeneficiary()">
    </div>
  </div>

</div>
