.beneficiary-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.beneficiary-attribute {
  text-align: center;
}

.operations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.icon-delete {
  width: 16px;
  height: 16px;
  content: url(../../../../assets/img/tables/delete.svg);
}
.icon-delete:hover{
  content: url(../../../../assets/img/tables/delete-hover.svg);
}

.icon-edit {
  width: 16px;
  height: 16px;
  content: url(../../../../assets/img/tables/edit.svg);
}
.icon-edit:hover{
  content: url(../../../../assets/img/tables/edit-hover.svg);
}

.operation{
  /*padding: 8px;*/
  display: block;
  text-align: right;
  /*grid-template-columns: repeat(4, 1fr);*/
}

p {
  font-weight: bold;
  text-align: left;
}
/*@media screen and (max-width: 421px) {
  .operation {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    text-align: center;
  }
}*/
